* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
font-family: 'Noto Sans', sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,9,121,1) 27%, rgba(0,212,255,1) 100%);
}

form, div {
    width: 40%;
    min-width: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding: 20px;
}

input, textarea {
    min-width: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
}

textarea {
    height: 200px;
    padding-top: 10px;
}

button {
    display: block;
    margin: 20px auto; /* para eu colocar margin auto preciso definir display-block primeiro*/
    height: 40px;
    min-width: 320px;
    border: none;
    border-radius: 5px;
    background: rgba(46,9,121,1);
    color: white;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}
h1, p {
    text-align: center;
    margin-top: 20px;

}
